---
import "../../styles/global.css";
import type { Locale } from "../../i18n/translation.ts";
import MaxWidthWrapper from "../../components/MaxWidthWrapper.astro";
import Layout from "../../layouts/Layout.astro";
import Navigation from "../../components/Navigation.astro";
import { getMenu } from "../../utils/get/menu.ts";

const currentLocale: Locale = "cn";
const menuItems = getMenu(currentLocale);
---

<Layout>
  <Navigation menuItems={menuItems} currentLocale={currentLocale} />
  <MaxWidthWrapper>
    <h1 class="text-custom-text">contact [中文]</h1>
  </MaxWidthWrapper>
</Layout>
